**/gen/
**/edmx/
*.db
*.sqlite
*.sqlite-wal
*.sqlite-shm
schema*.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings
package-lock.json

**/node/
**/node_modules/
**/ui_resources/
ui_resources/
**/dist/
**/ui/ab.monitor/package-lock.json

**/.mta/
*.mtar
*.zip
*.mta
mtad.yaml

*.log*
gc_history*
hs_err*
*.tgz
*.iml
.vscode
.idea

.vscode
.idea
.reloadtrigger

*.zip*
**/dist/
**/vdm/
# added by cds
.cdsrc-private.json
